html {
  font-size: 62.5%;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: var(--body-bg);
  overflow: hidden;
}
::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
  -webkit-appearance: none;
  background: transparent;
}
:root {
  --body-bg: #111827;
}